In [1]:
import hashlib
import numpy as np
import pandas as pd

def is_id_in_test_set(id_, test_ratio):
    hash_val = hashlib.md5(np.int64(id_)).digest()
    max_hash_val = 2**128
    return int.from_bytes(hash_val, byteorder='little') < test_ratio * max_hash_val

In [2]:
def split_data_with_id_hash(data, test_ratio, id_column):
    ids = data[id_column]
    in_test_set = ids.apply(lambda id_: is_id_in_test_set(id_, test_ratio))
    return in_test_set, data.loc[~in_test_set], data.loc[in_test_set]

In [3]:
data = pd.DataFrame({
    'id': range(20),
    'feature1': np.random.rand(20),
    'feature2': np.random.rand(20)
})

id_column = 'id'
test_ratio = 0.2

in_test_set, train_set, test_set = split_data_with_id_hash(data, test_ratio, id_column)

In [4]:
train_set.head(10)

    id  feature1  feature2
0    0  0.162790  0.487121
1    1  0.837617  0.938103
2    2  0.130365  0.390674
3    3  0.950517  0.384582
6    6  0.141741  0.070540
7    7  0.316655  0.301013
8    8  0.571453  0.712510
9    9  0.095281  0.709513
10  10  0.514626  0.706384
12  12  0.449210  0.213728

In [5]:
test_set.head(10)

    id  feature1  feature2
4    4  0.905635  0.531495
5    5  0.902428  0.805469
11  11  0.895201  0.209098

In [6]:
in_test_set

0     False
1     False
2     False
3     False
4      True
5      True
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: id, dtype: bool

In [4]:
data

    id  feature1  feature2
0    0  0.824187  0.221573
1    1  0.060835  0.625823
2    2  0.600923  0.017623
3    3  0.845514  0.987697
4    4  0.338473  0.738319
5    5  0.476711  0.688403
6    6  0.285686  0.103952
7    7  0.465096  0.410515
8    8  0.750795  0.717678
9    9  0.210139  0.102961
10  10  0.777396  0.132431
11  11  0.250161  0.289559
12  12  0.316421  0.468308
13  13  0.530052  0.486419
14  14  0.980114  0.186752
15  15  0.733358  0.202908
16  16  0.830273  0.099325
17  17  0.409936  0.682566
18  18  0.913199  0.718634
19  19  0.248456  0.906501